body {
  font-family: Arial;
  background-color: #eef4f8;
  margin: 0;
  color: #1f2933;
}

header {
  background-color: #0f2f4a;
  color: white;
  text-align: center;
  padding: 25px;
}

nav {
  background-color: #123d5c;
  text-align: center;
  padding: 15px;
}

button {
  background-color: #1f8f5f;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #166b48;
}

section {
  display: none;
  padding: 20px;
}

#inicio {
  display: block;
}

h2 {
  text-align: center;
  color: #0f2f4a;
}

.card {
  background-color: white;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

.formula {
  background-color: #e8f5ef;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-left: 5px solid #1f8f5f;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th {
  background-color: #0f2f4a;
  color: white;
  padding: 10px;
}

td {
  border: 1px solid #d1d5db;
  padding: 10px;
  text-align: center;
}

label {
  display: block;
  margin: 10px;
}

#resultadoTest {
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  background-color: #e8f5ef;
  font-weight: bold;
  border-left: 5px solid #1f8f5f;
}

.centrar {
  text-align: center;
}